/* General CSS */


/* Nav Bar */
.navbar {
    max-width: 1400px; 
    margin: 0 auto;
    margin-top: 15px; 
    overflow: hidden;
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:not(:first-child) {float: right; margin-top: 25px;}

.icon {
    display: none;
    visibility: hidden;
    color: black;
  }

/* Responsive */
@media only screen and (max-width: 1000px) {
    .navbar {
      margin-left: 25px;
      margin-right: 25px;
    }
}
  
 @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      visibility: visible;
    }
}
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}