/* General CSS */
body {
  margin:0;
  padding:0;
}

.container {
  max-width: 1100px; 
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.fullsection {
  background-color: #16596C;
  height: 550px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.07em;
}

h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: 0.07em;
}

.subhead {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.07em;
  color: #303841;
}

.subhead-two {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.07em;
}

.littleheader {
  font-weight: 700;
  font-size: 18px;
  line-height: 148.69%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}


.paragraphtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.primarybtn {
  background: #FE7F24;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  border:none;
  height: 50px;
  width: 200px;
}


/* Columns */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column_three {
  float: left; 
  width: 33%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive General CSS */
@media only screen and (max-width: 1000px) {
  .fullsection {
    height: 850px;
  }

  .container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .column {
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
  }
  
  .column_three {
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
  }

  /* Header Img goes away  */
  .headerimg{
    display: none;
    visibility: none;;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
}

/* Nav Bar */
.navbar {
    max-width: 1400px; 
    margin: 0 auto;
    margin-top: 15px; 
    overflow: hidden;
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar a:not(:first-child) {float: right; margin-top: 25px;}

.icon {
    display: none;
    visibility: hidden;
    color: black;
  }

/* NavBar Responsive */
@media only screen and (max-width: 1000px) {
    .navbar {
      margin-left: 25px;
      margin-right: 25px;
    }
}
  
 @media screen and (max-width: 800px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      visibility: visible;
    }
}
  
@media screen and (max-width: 800px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 5px 5px;
    }

    .navbar a:not(:first-child) {margin-left: 25px; margin-top: 10px;}
}

/* Header */


/* Services */
.card {
  height: 330px;
  width: 300px;
  background: #E8EBEA;
  border-radius: 15px;
  padding: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.circleIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #EAAA00;
  margin-top: 20px;
  margin-left: 40%;
}

/* Past Work */
.promo-card {
  width: 475px;
}

.promo-card-half {
  padding: 2px 16px;
  background-color: #003366;
  margin-top: -10px;
  border-radius: 0px 0px 15px 15px;
}

.promo-card-mini {
  background-color: #003366;
  border-radius: 15px;
  width: 475px;
  height: 80px;
  text-align: center;
  padding: 2px;
}


/* Promo Card Responsive */
@media only screen and (max-width: 700px) {
  .promo-card img {
    width: 300px;
    height: 175px;
  }

  .promo-card {
    width: 300px;
  }

  .promo-card-mini {
    width: 300px;
    height: 120px;
  }

  #pastwork {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
  }
}

/* Contact */
#contactForm {
  padding-top: 40px;
}

.formInput {
  position: relative;
  width: 200px;
  height: 55px;
  z-index: 50;
  background: rgba(196, 196, 196, 0.6);;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.07em;
  font-size: 18px;
  border: none;
  padding-left: 10px;
}
  
.formInputLg {
  position: relative;
  width: 425px;
  height: 150px;
  z-index: 50;
  background: rgba(196, 196, 196, 0.6);;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.07em;
  font-size: 18px;
  border: none;
  padding-left: 10px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
@media screen and (max-width: 800px) {
  .formInput {
    width: 250px;
    margin-bottom: 20px;
  }
  .formInputLg {
    width: 250px;
  }
  #contactForm {
    padding-top: 0px;
  }
  
} 
@media screen and (max-width: 600px) {
  .formInput {
    width: 250px;
  }
  .formInputLg {
     width: 250px;
  }
}    

::placeholder {
  color: #FFFFFF;
  opacity: 1; /* Firefox, Chrome, Etc. */
}
    
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}
    
::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

/* Footer */
footer {
  background-color: #003366;
  margin-top: -20px;
  height: 300px;
}

#footer_right {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  footer{
    height: 600px;
  } 

  #footer_right {
    text-align: left;
  }
}   

/* Services Page */
#services_right {
  text-align: right;
}

#services_left {
  text-align: left;
}

#pushimgright {
  margin-left: 15%;
}

#middletext {
  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  #services_right {
    text-align: center;
  }

  #services_left {
    text-align: center;
  }

  #pushimgright {
    margin-left: 0%;
    height: 275px;
  }

  #imgleft {
    height: 300px;
  }

  #middletext {
    margin-top: 0px;
  }
}   

/* Past Projects */
.workbox {
  height: 450px;
  width: 100%;
  background-color: #2C5377;
  border-radius: 15px;
  padding: 20px;
}

#columnright {
  text-align: right;
  margin-top: 25px;
}

#columnleft {
  text-align: left;
}

#oaimg {
  margin-top: 55px;
}

@media screen and (max-width: 1000px) {
  #oaimg {
    display: none;
    visibility: hidden;
  }

  #columnright {
    text-align: center;
    margin-top:0px;
  }

  #columnleft {
    text-align: center;
  }

  #columnright h2 {
    line-height: 45px;
  }

  .workbox {
    padding: 2px;
    height: 100%;
    padding-bottom: 20px;
  }
}   